@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto+Condensed&display=swap');

*{
    margin: 0px;
    padding: 0px;
} 

body{
    margin: 30px;
    background-color: #9de8ff;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Condensed', sans-serif;
} 

img{
    width: 500px;
    height: 550px;
    position: absolute;
    top: 10%;
    left: 57%;
}

audio,video{
    margin: 30px 0px 0px 0px;
}

h1{
    letter-spacing: -2px;
}